# To-dos:

*   Simplify/streamline tables
* Highest/lowest since... for latest month's data

In [1]:
import pandas as pd
import numpy as np
from bls_data import bls_rpt

# Step 1: Input consensus estimates:

In [2]:
# Current month consensus estimates:

rpt_list = ["Headline CPI", "Annualized CPI", "Core CPI (ex. food and energy)", "Annualized Core"]
estimate = [0.5, 5.3, 0.4, 4.3]

# Code: API pull from BLS, tables, print statements

In [3]:
# bls_rpt from bls_data module

headline = bls_rpt("CUSR0000SA0", "All items in U.S. city average, all urban consumers, seasonally adjusted")
headline_annualized = bls_rpt("CUUR0000SA0", "All items in U.S. city average, all urban consumers, not seasonally adjusted")
core = bls_rpt("CUSR0000SA0L1E", "All items less food and energy in U.S. city average, all urban consumers, seasonally adjusted")
core_annualized = bls_rpt("CUUR0000SA0L1E", "All items less food and energy in U.S. city average, all urban consumers, not seasonally adjusted")

All items in U.S. city average, all urban consumers, seasonally adjusted

https://api.bls.gov/publicAPI/v1/timeseries/data/CUSR0000SA0
Status: REQUEST_SUCCEEDED

All items in U.S. city average, all urban consumers, not seasonally adjusted

https://api.bls.gov/publicAPI/v1/timeseries/data/CUUR0000SA0
Status: REQUEST_SUCCEEDED

All items less food and energy in U.S. city average, all urban consumers, seasonally adjusted

https://api.bls.gov/publicAPI/v1/timeseries/data/CUSR0000SA0L1E
Status: REQUEST_SUCCEEDED

All items less food and energy in U.S. city average, all urban consumers, not seasonally adjusted

https://api.bls.gov/publicAPI/v1/timeseries/data/CUUR0000SA0L1E
Status: REQUEST_SUCCEEDED

In [4]:
m = [headline["periodName"][0], headline["periodName"][0], core["periodName"][0], core["periodName"][0]]
y = [headline["year"][0], headline["year"][0], core["year"][0], core["year"][0]]
current_month = [headline["CPI"][0], headline_annualized["CPI annualized"][0], core["CPI"][0], core_annualized["CPI annualized"][0]]

df2 = pd.DataFrame(zip(y, m, rpt_list, current_month, estimate), columns=["year", "month", "report", "CPI", "estimate"])

df2["vs_consensus"] = np.where(df2["estimate"] == df2["CPI"], "in line with", np.where(df2["CPI"] > df2["estimate"], "above", "below"))
df2["prior_month"] = [headline["periodName"][1], headline["periodName"][1], core["periodName"][1], core["periodName"][1]]
df2["prior"] = [headline["CPI"][1], headline_annualized["CPI annualized"][1], core["CPI"][1], core_annualized["CPI annualized"][1]]
df2["rose/fell"] = np.where(df2["CPI"] == df2["prior"], "unchanged from", np.where(df2["CPI"] > df2["prior"], "up from", "down from"))

In [5]:
# Print statements

def print_statements():
  for i in range(0,len(df2)):
    print("{} {} of {}% {} consensus estimates of {}%, {} {} {}% print".format(
      df2["month"][i],
      df2["report"][i],
      df2["CPI"][i],
      df2["vs_consensus"][i],
      df2["estimate"][i],
      df2["rose/fell"][i],
      df2["prior_month"][i],
      df2["prior"][i]))

# Current report

Note: Since CPI formula was changed in Jan-19, we can't get annualized comparisons from before Jan-21

In [6]:
print_statements()

July Headline CPI of 0.5% in line with consensus estimates of 0.5%, down from June 0.9% print
July Annualized CPI of 5.4% above consensus estimates of 5.3%, unchanged from June 5.4% print
July Core CPI (ex. food and energy) of 0.3% below consensus estimates of 0.4%, down from June 0.9% print
July Annualized Core of 4.3% in line with consensus estimates of 4.3%, down from June 4.5% print

In [7]:
df2 # Table for just this month's data

,year,month,report,CPI,estimate,vs_consensus,prior_month,prior,rose/fell
0,2021,July,Headline CPI,0.5,0.5,in line with,June,0.9,down from
1,2021,July,Annualized CPI,5.4,5.3,above,June,5.4,unchanged from
2,2021,July,Core CPI (ex. food and energy),0.3,0.4,below,June,0.9,down from
3,2021,July,Annualized Core,4.3,4.3,in line with,June,4.5,down from

In [8]:
headline #Seasonally adjusted

,year,period,periodName,latest,value,CPI,m/m_chg,CPI annualized,y/y_chg,m/m vs prior,y/y vs prior
0,2021,07,July,true,272.265,0.5,-0.4,5.8,-0.1,down,down
1,2021,06,June,NaN,270.981,0.9,0.3,5.9,1.1,up,up
2,2021,05,May,NaN,268.551,0.6,-0.2,4.8,1.4,down,up
3,2021,04,April,NaN,266.832,0.8,0.2,3.4,1.1,up,up
4,2021,03,March,NaN,264.793,0.6,0.2,2.3,0.6,up,up
5,2021,02,February,NaN,263.161,0.4,0.1,1.7,0.1,up,up
6,2021,01,January,NaN,262.231,0.3,0.1,1.6,0.2,up,up
7,2020,12,December,NaN,261.560,0.2,0.0,1.4,0.0,unchanged,unchanged
8,2020,11,November,NaN,260.927,0.2,0.1,1.4,-0.1,up,down
9,2020,10,October,NaN,260.462,0.1,-0.1,1.5,-0.1,down,down
10,2020,09,September,NaN,260.149,0.2,-0.2,1.6,0.2,down,up
11,2020,08,August,NaN,259.511,0.4,-0.1,1.4,0.2,down,up
12,2020,07,July,NaN,258.604,0.5,0.0,1.2,0.5,unchanged,up
13,2020,06,June,NaN,257.282,0.5,0.6,0.7,0.5,up,up
14,2020,05,May,NaN,255.942,-0.1,0.6,0.2,-0.6,up,down
15,2020,04,April,NaN,256.192,-0.7,-0.4,0.8,-1.2,down,down
16,2020,03,March,NaN,257.989,-0.3,-0.4,2.0,-0.5,down,down
17,2020,02,February,NaN,258.824,0.1,-0.1,2.5,NaN,down,down
18,2020,01,January,NaN,258.687,0.2,0.1,NaN,NaN,up,down
19,2019,12,December,NaN,258.203,0.1,-0.1,NaN,NaN,down,down
20,2019,11,November,NaN,257.989,0.2,-0.1,NaN,NaN,down,down
21,2019,10,October,NaN,257.387,0.3,0.1,NaN,NaN,up,down
22,2019,09,September,NaN,256.532,0.2,0.1,NaN,NaN,up,down
23,2019,08,August,NaN,256.118,0.1,-0.1,NaN,NaN,down,down
24,2019,07,July,NaN,255.925,0.2,0.2,NaN,NaN,up,down
25,2019,06,June,NaN,255.423,0.0,0.0,NaN,NaN,unchanged,down
26,2019,05,May,NaN,255.371,0.0,-0.5,NaN,NaN,down,down
27,2019,04,April,NaN,255.326,0.5,0.0,NaN,NaN,unchanged,down
28,2019,03,March,NaN,254.147,0.5,0.3,NaN,NaN,up,down
29,2019,02,February,NaN,252.969,0.2,NaN,NaN,NaN,down,down
30,2019,01,January,NaN,252.441,NaN,NaN,NaN,NaN,down,down

In [9]:
headline_annualized # Not seasonally adjusted

,year,period,periodName,latest,value,CPI,m/m_chg,CPI annualized,y/y_chg,m/m vs prior,y/y vs prior
0,2021,07,July,true,273.003,0.5,-0.4,5.4,0.0,down,unchanged
1,2021,06,June,NaN,271.696,0.9,0.1,5.4,0.4,up,up
2,2021,05,May,NaN,269.195,0.8,0.0,5.0,0.8,unchanged,up
3,2021,04,April,NaN,267.054,0.8,0.1,4.2,1.6,up,up
4,2021,03,March,NaN,264.877,0.7,0.2,2.6,0.9,up,up
5,2021,02,February,NaN,263.014,0.5,-0.6,1.7,0.3,down,up
6,2021,01,January,NaN,261.582,1.1,1.7,1.4,0.2,up,up
7,2020,13,Annual,NaN,258.811,-0.6,-0.7,1.2,-0.2,down,down
8,2020,12,December,NaN,260.474,0.1,0.2,1.4,0.2,up,up
9,2020,11,November,NaN,260.229,-0.1,-0.1,1.2,0.0,down,unchanged
10,2020,10,October,NaN,260.388,0.0,-0.1,1.2,-0.2,down,down
11,2020,09,September,NaN,260.280,0.1,-0.2,1.4,0.1,down,up
12,2020,08,August,NaN,259.918,0.3,-0.2,1.3,0.3,down,up
13,2020,07,July,NaN,259.101,0.5,0.0,1.0,0.4,unchanged,up
14,2020,06,June,NaN,257.797,0.5,0.5,0.6,0.5,up,up
15,2020,05,May,NaN,256.394,0.0,0.7,0.1,-0.2,up,down
16,2020,04,April,NaN,256.389,-0.7,-0.5,0.3,-1.2,down,down
17,2020,03,March,NaN,258.115,-0.2,-0.5,1.5,-0.8,down,down
18,2020,02,February,NaN,258.678,0.3,-0.6,2.3,-0.2,down,down
19,2020,01,January,NaN,257.971,0.9,1.4,2.5,NaN,up,down
20,2019,13,Annual,NaN,255.657,-0.5,-0.4,NaN,NaN,down,down
21,2019,12,December,NaN,256.974,-0.1,0.0,NaN,NaN,unchanged,down
22,2019,11,November,NaN,257.208,-0.1,-0.3,NaN,NaN,down,down
23,2019,10,October,NaN,257.346,0.2,0.1,NaN,NaN,up,down
24,2019,09,September,NaN,256.759,0.1,0.1,NaN,NaN,up,down
25,2019,08,August,NaN,256.558,-0.0,-0.2,NaN,NaN,down,down
26,2019,07,July,NaN,256.571,0.2,0.2,NaN,NaN,up,down
27,2019,06,June,NaN,256.143,0.0,-0.2,NaN,NaN,down,down
28,2019,05,May,NaN,256.092,0.2,-0.3,NaN,NaN,down,down
29,2019,04,April,NaN,255.548,0.5,-0.1,NaN,NaN,down,down
30,2019,03,March,NaN,254.202,0.6,0.2,NaN,NaN,up,down
31,2019,02,February,NaN,252.776,0.4,NaN,NaN,NaN,down,down
32,2019,01,January,NaN,251.712,NaN,NaN,NaN,NaN,down,down

In [10]:
core # Seasonally adjusted

,year,period,periodName,latest,value,CPI,m/m_chg,CPI annualized,y/y_chg,m/m vs prior,y/y vs prior
0,2021,07,July,true,279.054,0.3,-0.6,4.8,0.1,down,up
1,2021,06,June,NaN,278.140,0.9,0.2,4.7,1.0,up,up
2,2021,05,May,NaN,275.718,0.7,-0.2,3.7,1.1,down,up
3,2021,04,April,NaN,273.700,0.9,0.6,2.6,1.0,up,up
4,2021,03,March,NaN,271.214,0.3,0.2,1.6,0.1,up,up
5,2021,02,February,NaN,270.299,0.1,0.1,1.5,-0.1,up,down
6,2021,01,January,NaN,270.025,0.0,0.0,1.6,-0.1,unchanged,down
7,2020,12,December,NaN,269.940,0.0,-0.2,1.7,-0.1,down,down
8,2020,11,November,NaN,269.819,0.2,0.1,1.8,0.0,up,unchanged
9,2020,10,October,NaN,269.350,0.1,-0.1,1.8,-0.1,down,down
10,2020,09,September,NaN,269.155,0.2,-0.1,1.9,0.0,down,unchanged
11,2020,08,August,NaN,268.654,0.3,-0.2,1.9,0.1,down,up
12,2020,07,July,NaN,267.722,0.5,0.3,1.8,0.3,up,up
13,2020,06,June,NaN,266.282,0.2,0.3,1.5,0.1,up,up
14,2020,05,May,NaN,265.637,-0.1,0.3,1.4,-0.3,up,down
15,2020,04,April,NaN,265.836,-0.4,-0.4,1.7,-0.6,down,down
16,2020,03,March,NaN,266.820,-0.0,-0.2,2.3,-0.2,down,down
17,2020,02,February,NaN,266.876,0.2,0.0,2.5,NaN,unchanged,down
18,2020,01,January,NaN,266.306,0.2,0.1,NaN,NaN,up,down
19,2019,12,December,NaN,265.651,0.1,-0.1,NaN,NaN,down,down
20,2019,11,November,NaN,265.427,0.2,0.0,NaN,NaN,unchanged,down
21,2019,10,October,NaN,265.026,0.2,0.0,NaN,NaN,unchanged,down
22,2019,09,September,NaN,264.603,0.2,0.0,NaN,NaN,unchanged,down
23,2019,08,August,NaN,264.151,0.2,0.0,NaN,NaN,unchanged,down
24,2019,07,July,NaN,263.616,0.2,-0.1,NaN,NaN,down,down
25,2019,06,June,NaN,263.117,0.3,0.2,NaN,NaN,up,down
26,2019,05,May,NaN,262.384,0.1,-0.2,NaN,NaN,down,down
27,2019,04,April,NaN,262.050,0.3,0.1,NaN,NaN,up,down
28,2019,03,March,NaN,261.339,0.2,0.1,NaN,NaN,up,down
29,2019,02,February,NaN,260.722,0.1,NaN,NaN,NaN,down,down
30,2019,01,January,NaN,260.419,NaN,NaN,NaN,NaN,down,down

In [11]:
core_annualized # Not seasonally adjusted

,year,period,periodName,latest,value,CPI,m/m_chg,CPI annualized,y/y_chg,m/m vs prior,y/y vs prior
0,2021,07,July,true,279.146,0.3,-0.5,4.3,-0.2,down,down
1,2021,06,June,NaN,278.218,0.8,0.1,4.5,0.7,up,up
2,2021,05,May,NaN,275.893,0.7,-0.1,3.8,0.8,down,up
3,2021,04,April,NaN,273.968,0.8,0.4,3.0,1.4,up,up
4,2021,03,March,NaN,271.713,0.4,0.1,1.6,0.3,up,up
5,2021,02,February,NaN,270.696,0.3,-0.5,1.3,-0.1,down,down
6,2021,01,January,NaN,269.755,0.8,1.4,1.4,-0.3,up,down
7,2020,13,Annual,NaN,267.693,-0.6,-0.5,1.7,0.1,down,up
8,2020,12,December,NaN,269.226,-0.1,-0.2,1.6,0.0,down,unchanged
9,2020,11,November,NaN,269.473,0.1,0.0,1.6,0.0,unchanged,unchanged
10,2020,10,October,NaN,269.328,0.1,0.0,1.6,-0.1,unchanged,down
11,2020,09,September,NaN,269.054,0.1,-0.3,1.7,0.0,down,unchanged
12,2020,08,August,NaN,268.756,0.4,-0.1,1.7,0.1,down,up
13,2020,07,July,NaN,267.703,0.5,0.3,1.6,0.4,up,up
14,2020,06,June,NaN,266.302,0.2,0.3,1.2,0.0,up,unchanged
15,2020,05,May,NaN,265.799,-0.1,0.4,1.2,-0.2,up,down
16,2020,04,April,NaN,266.089,-0.5,-0.5,1.4,-0.7,down,down
17,2020,03,March,NaN,267.312,0.0,-0.5,2.1,-0.3,down,down
18,2020,02,February,NaN,267.268,0.5,-0.6,2.4,0.1,down,up
19,2020,01,January,NaN,266.004,1.1,1.8,2.3,NaN,up,down
20,2019,13,Annual,NaN,263.211,-0.7,-0.6,NaN,NaN,down,down
21,2019,12,December,NaN,264.935,-0.1,-0.1,NaN,NaN,down,down
22,2019,11,November,NaN,265.108,0.0,-0.2,NaN,NaN,down,down
23,2019,10,October,NaN,265.059,0.2,0.1,NaN,NaN,up,down
24,2019,09,September,NaN,264.522,0.1,-0.1,NaN,NaN,down,down
25,2019,08,August,NaN,264.169,0.2,0.1,NaN,NaN,up,down
26,2019,07,July,NaN,263.566,0.1,-0.1,NaN,NaN,down,down
27,2019,06,June,NaN,263.177,0.2,0.1,NaN,NaN,up,down
28,2019,05,May,NaN,262.590,0.1,-0.1,NaN,NaN,down,down
29,2019,04,April,NaN,262.332,0.2,-0.1,NaN,NaN,down,down
30,2019,03,March,NaN,261.836,0.3,-0.1,NaN,NaN,down,down
31,2019,02,February,NaN,261.114,0.4,NaN,NaN,NaN,down,down
32,2019,01,January,NaN,260.122,NaN,NaN,NaN,NaN,down,down

In [12]:
# Table of each of the components, sorted from high to low?
tables = pd.read_html("https://www.bls.gov/news.release/cpi.t01.htm")
tables = pd.DataFrame(tables[0])

In [13]:
tables

                                 Expenditure category  \
                                 Expenditure category
0                                           All items
1                                                Food
2                                        Food at home
3                         Cereals and bakery products
4                      Meats, poultry, fish, and eggs
5                          Dairy and related products
6                               Fruits and vegetables
7       Nonalcoholic beverages and beverage materials
8                                  Other food at home
9                              Food away from home(1)
10                                                NaN
11                                             Energy
12                                 Energy commodities
13                                        Fuel oil(1)
14                                         Motor fuel
15                               Gasoline (all types)
16                                    Energy services
17                                        Electricity
18                        Utility (piped) gas service
19                                                NaN
20                     All items less food and energy
21       Commodities less food and energy commodities
22                                            Apparel
23                                       New vehicles
24                               Used cars and trucks
25                        Medical care commodities(1)
26                                Alcoholic beverages
27                    Tobacco and smoking products(1)
28                      Services less energy services
29                                            Shelter
30                          Rent of primary residence
31           Owners' equivalent rent of residences(2)
32                              Medical care services
33                            Physicians' services(1)
34                               Hospital services(3)
35                            Transportation services
36            Motor vehicle maintenance and repair(1)
37                            Motor vehicle insurance
38                                      Airline fares
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                           RelativeimportanceJun.2021  \
                           RelativeimportanceJun.2021
0                                             100.000
1                                              13.846
2                                               7.633
3                                               0.970
4                                               1.781
5                                               0.754
6                                               1.322
7                                               0.902
8                                               1.905
9                                               6.213
10                                                NaN
11                                              7.168
12                                              3.979
13                                              0.098
14                                              3.816
15                                              3.737
16                                              3.190
17                                              2.457
18                                              0.733
19                                                NaN
20                                             78.986
21                                             20.694
22                                              2.685
23                                              3.740
24                                              3.474
25                                              1.506
26                                              1.008
27                                              0.606
28                                             58.292
29                                             32.575
30                                              7.611
31                                             23.575
32                                              7.066
33                                              1.809
34                                              2.167
35                                              5.285
36                                              1.071
37                                              1.600
38                                              0.756
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                                   Unadjusted indexes  \
                                             Jul.2020
0                                             259.101
1                                             268.863
2                                             252.563
3                                             285.204
4                                             271.028
5                                             227.114
6                                             306.123
7                                             178.167
8                                             219.254
9                                             294.599
10                                                NaN
11                                            197.665
12                                            198.365
13                                            203.084
14                                            195.317
15                                            194.397
16                                            206.388
17                                            218.820
18                                            166.536
19                                                NaN
20                                            267.703
21                                            143.696
22                                            114.267
23                                            147.803
24                                            141.493
25                                            384.377
26                                            256.960
27                                           1178.054
28                                            345.493
29                                            326.580
30                                            341.950
31                                            335.144
32                                            567.299
33                                            392.928
34                                            353.381
35                                            312.938
36                                            305.573
37                                            558.276
38                                            204.785
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                                                       \
                                             Jun.2021
0                                             271.696
1                                             276.206
2                                             257.412
3                                             286.761
4                                             282.993
5                                             230.152
6                                             315.211
7                                             179.527
8                                             220.221
9                                             305.634
10                                                NaN
11                                            240.720
12                                            273.459
13                                            280.786
14                                            269.983
15                                            268.979
16                                            219.425
17                                            226.562
18                                            194.563
19                                                NaN
20                                            278.218
21                                            155.284
22                                            120.324
23                                            154.847
24                                            198.855
25                                            375.697
26                                            262.913
27                                           1247.577
28                                            354.250
29                                            334.222
30                                            347.833
31                                            342.258
32                                            570.509
33                                            406.812
34                                            361.384
35                                            335.548
36                                            315.209
37                                            569.656
38                                            256.684
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                                                       \
                                             Jul.2021
0                                             273.003
1                                             278.127
2                                             259.022
3                                             289.533
4                                             286.994
5                                             231.233
6                                             312.875
7                                             180.136
8                                             222.116
9                                             308.023
10                                                NaN
11                                            244.800
12                                            280.040
13                                            282.484
14                                            276.650
15                                            275.656
16                                            221.196
17                                            227.672
18                                            198.207
19                                                NaN
20                                            279.146
21                                            155.873
22                                            119.078
23                                            157.203
24                                            200.425
25                                            376.323
26                                            263.226
27                                           1253.276
28                                            355.375
29                                            335.812
30                                            348.469
31                                            343.293
32                                            571.934
33                                            408.445
34                                            363.254
35                                            332.917
36                                            318.031
37                                            567.463
38                                            243.613
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                            Unadjusted percent change  \
                                    Jul.2020-Jul.2021
0                                                 5.4
1                                                 3.4
2                                                 2.6
3                                                 1.5
4                                                 5.9
5                                                 1.8
6                                                 2.2
7                                                 1.1
8                                                 1.3
9                                                 4.6
10                                                NaN
11                                               23.8
12                                               41.2
13                                               39.1
14                                               41.6
15                                               41.8
16                                                7.2
17                                                4.0
18                                               19.0
19                                                NaN
20                                                4.3
21                                                8.5
22                                                4.2
23                                                6.4
24                                               41.7
25                                               -2.1
26                                                2.4
27                                                6.4
28                                                2.9
29                                                2.8
30                                                1.9
31                                                2.4
32                                                0.8
33                                                3.9
34                                                2.8
35                                                6.4
36                                                4.1
37                                                1.6
38                                               19.0
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                                                       \
                                    Jun.2021-Jul.2021
0                                                 0.5
1                                                 0.7
2                                                 0.6
3                                                 1.0
4                                                 1.4
5                                                 0.5
6                                                -0.7
7                                                 0.3
8                                                 0.9
9                                                 0.8
10                                                NaN
11                                                1.7
12                                                2.4
13                                                0.6
14                                                2.5
15                                                2.5
16                                                0.8
17                                                0.5
18                                                1.9
19                                                NaN
20                                                0.3
21                                                0.4
22                                               -1.0
23                                                1.5
24                                                0.8
25                                                0.2
26                                                0.1
27                                                0.5
28                                                0.3
29                                                0.5
30                                                0.2
31                                                0.3
32                                                0.2
33                                                0.4
34                                                0.5
35                                               -0.8
36                                                0.9
37                                               -0.4
38                                               -5.1
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                   Seasonally adjusted percent change  \
                                     Apr.2021-May2021
0                                                 0.6
1                                                 0.4
2                                                 0.4
3                                                 0.5
4                                                 1.3
5                                                 0.4
6                                                 0.0
7                                                -0.5
8                                                 0.0
9                                                 0.6
10                                                NaN
11                                                0.0
12                                               -0.6
13                                                2.1
14                                               -0.7
15                                               -0.7
16                                                0.7
17                                                0.3
18                                                1.7
19                                                NaN
20                                                0.7
21                                                1.8
22                                                1.2
23                                                1.6
24                                                7.3
25                                                0.0
26                                                0.4
27                                                0.1
28                                                0.4
29                                                0.3
30                                                0.2
31                                                0.3
32                                               -0.1
33                                                0.0
34                                                0.2
35                                                1.5
36                                               -0.3
37                                                0.7
38                                                7.0
39  Footnotes  (1) Not seasonally adjusted.  (2) I...

                                                       \
                                     May2021-Jun.2021
0                                                 0.9
1                                                 0.8
2                                                 0.8
3                                                -0.3
4                                                 2.5
5                                                 0.2
6                                                 0.7
7                                                 0.9
8                                                 0.2
9                                                 0.7
10                                                NaN
11                                                1.5
12                                                2.6
13                                                2.9
14                                                2.5
15                                                2.5
16                                                0.2
17                                               -0.3
18                                                1.7
19                                                NaN
20                                                0.9
21                                                2.2
22                                                0.7
23                                                2.0
24                                               10.5
25                                               -0.4
26                                                0.5
27                                                0.6
28                                                0.4
29                                                0.5
30                                                0.2